{{#if href}}
	<a :href class="{{classname}}">
		<slot></slot>
	</a>
{{else}}
	<button type="{{type}}" class="{{classname}}"
			on:click="fire('click')">
		<slot></slot>
	</button>
{{/if}}

<style>
	.button, .button.primary {
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		background-color: transparent;
		padding: 0.5em 1em;
		border: 2px solid;
		border-color: #e0e84c;
		border-radius: 3px;
		color: #e0e84c;
		cursor: pointer;

		transition-property: color, background-color;
		transition-duration: 0.05s;
	}

	.button.loose {
		font-size: 0.75em;
		padding: 1.25em 2em;
	}

	.button.dark {
		border-color: rgba(0, 0, 0, 0.35);
		color: rgba(0, 0, 0, 0.55);
	}

	.button.white {
		border-color: white;
		color: white;
	}

	.button:hover {
		background-color: #e0e84c;
		color: white;
		text-decoration: none;
	}

	.button.white:hover {
		background-color: white;
		color: rgba(0, 0, 0, 0.8);
	}

	.button.dark:hover {
		background-color: rgba(0, 0, 0, 0.35);
		color: white;
	}
</style>

<script>
	import classnames from 'classnames';

	export default {
		data() {
			return {
				type: 'button',
				variant: null
			};
		},
		helpers: {
			classnames
		},
		computed: {
			classname(white, dark, loose, variant) {
				return classnames({
					button: true,
					white,
					dark,
					loose
				}, variant);
			}
		}
	};
</script>
