{{#if href}}
	<a :href class="{{classname}}">
		<slot></slot>
	</a>
{{else}}
	<button type="{{type}}" class="{{classname}}"
			on:click="fire('click')">
		<slot></slot>
	</button>
{{/if}}

<style>
	.button, .button.primary {
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		background-color: transparent;
		padding: 0.5em 1em;
		border: 2px solid;
		border-color: #e0e84c;
		color: #e0e84c;
		cursor: pointer;

		transition-property: color background-color;
		transition-duration: 0.025s;
	}

	.button.white {
		border-color: white;
		color: white;
	}

	.button:hover {
		background-color: #e0e84c;
		color: white;
		text-decoration: none;
	}

	.button.white:hover {
		background-color: white;
		color: #e0e84c;
	}
</style>

<script>
	import classnames from 'classnames';

	export default {
		data() {
			return {
				type: 'button',
				variant: null
			};
		},
		helpers: {
			classnames
		},
		computed: {
			classname(white, variant) {
				return classnames({
					button: true,
					white
				}, variant);
			}
		}
	};
</script>
