<section class="callout-section full-height" id="{{id}}">
	<slot>
		<h2>{{primary}}</h2>
		<p>{{body}}</p>
	</slot>
</section>

<style>
	.callout-section {
		background-color: #ccd446;
		color: white;
		font-size: 1.25em;
		padding: 2em;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.callout-section > :global(*) {
		margin: 1em 0;
	}

	.callout-section :global(h2) {
		font-size: 3em;
		text-align: center;
		line-height: 1;
	}

	.callout-section :global(p) {
		text-transform: uppercase;
		opacity: 0.95;
		text-align: center;
	}

	@media (min-width: 768px) {
		.callout-section {
			font-size: 1.5em;
		}
	}
</style>
