<div class="email-subscriber">
	{{#if added}}
		<slot></slot>
	{{else}}
		<form on:submit="handleSubmit(event, email)">
			<input type="email" placeholder="Email address"
				aria-label="Email address"
				bind:value="email" />
			<Button type="submit"
					variant="{{buttonVariant}}">
				Sign up
			</Button>
		</form>
	{{/if}}
</div>

<style>
	form {
		font-size: 1.5em;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	input {
		border: 1px solid rgba(0, 0, 0, 0.35);
		border-radius: 1px;
		height: 1.5em;
		padding: 0.5em;
	}

	input, .email-subscriber :global(.button) {
		margin: 0.1em 0.25em;
	}

	@media (max-width: 768px) {
		input, .email-subscriber :global(.button) {
			flex-grow: 1;
		}
	}
</style>

<script>
	import { addRequestEmail } from '../database.js';

	import Button from './Button.html';

	export default {
		data() {
			return {
				email: '',
				added: false,
				buttonVariant: 'primary'
			};
		},
		methods: {
			handleSubmit(event, email) {
				event.preventDefault();

				if (email) {
					addRequestEmail(email).then(() => {
						this.set({ added: true });
					});
				}
			}
		},
		components: {
			Button
		}
	};
</script>
