<header id="header">
	<Nav />
</header>

<:Window on:load="handleLoad(event)" />

<style>
	header {
		background: white;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		z-index: 100;
	}

	:global(main) {
		padding-top: 5em;
	}
</style>

<script>
	// Coupled a bit with FixedHeaderLink for "proper" handling of in-page links

	import Nav from './Nav.html';

	import { scrollToElement } from '@/utils.js';

	export default {
		oncreate() {
			window.onpopstate = this.handlePopState;
		},
		methods: {
			handlePopState(event) {
				try {
					const { href } = event.state;
					if (href) {
						scrollToElement(href, false);
					}
				} catch (e) {
					console.error(e);
				}
			},
			handleLoad() {
				const { hash } = window.location;
				if (hash && hash.length > 1)
					scrollToElement(hash, false);
			}
		},
		components: {
			Nav
		}
	};
</script>
