<:Window on:popstate="handlePopState(event)" />

<div id="{{page}}">
	<Header />

	<main>
		<slot></slot>
	</main>

	<Footer />
</div>

<style>

</style>

<script>
	import Header from './Header.html';
	import Footer from './Footer.html';

	import { scrollToElement } from '../utils.js';

	import '@/styles.css';

	export default {
		methods: {
			handlePopState(event) {
				try {
					const { href } = event.state;
					if (href) {
						setTimeout(() => {
							scrollToElement(href, false);
						}, 0);
					}
				} catch (e) {
					console.error(e);
				}
			}
		},
		components: {
			Header,
			Footer
		}
	};
</script>
