<nav>
	<h1>
		<a class="primary-color" href="/#home">Muzic</a>
	</h1>
	<ul>
		<li><a href="#about">About</a></li>
		<li><a href="#feedback">Feedback</a></li>
		<li><a href="#subscribe">Subscribe</a></li>
		<li><a href="#contact">Contact</a></li>
	</ul>
</nav>

<style>
	nav, ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	}

	nav {
		padding: 0.5em 1em;
		justify-content: space-between;
	}

	ul {
		justify-content: center;
	}

	h1 {
		font-family: 'Impact', sans-serif;
		margin: 0;
		font-size: 4em;
		text-transform: uppercase;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li, .home-link {
		/* margin: 1em; */
	}

	a, a:hover {
		text-decoration: none;
	}

	li a {
		color: rgba(0, 0, 0, 0.45);
		padding: 0.5em;
	}

	li a:hover {
		color: rgba(0, 0, 0, 0.67);
	}

	@media (max-width: 600px) {
		nav {
			flex-direction: column;
		}

		h1 {
			font-size: 3em;
		}
	}
</style>
