<div class="request-access">
	{{#if showInput}}
		<EmailSubscriber :buttonVariant>
			<p>
				Thanks! We'll let you know when MUZIC is ready for testing
			</p>
		</EmailSubscriber>
	{{else}}
		<Button loose variant="{{buttonVariant}}"
				on:click="set({showInput: true})">
			Request access
		</Button>
	{{/if}}
</div>

<style>
	.request-access > :global(.button) {
		font-size: 1em;
		text-align: center;
		display: block;
		margin: 0 auto;
	}
</style>

<script>
	import EmailSubscriber from './EmailSubscriber.html';
	import Button from './Button.html';

	export default {
		data() {
			return {
				buttonVariant: 'white'
			};
		},
		components: {
			EmailSubscriber,
			Button
		}
	};
</script>
