<div class="subscribe">
	<h2>Subscribe</h2>

	<p>
		Stay in the NOW
	</p>

	<EmailSubscriber buttonVariant="dark">
		<p>
			Thanks! We'll be in touch soon
		</p>
	</EmailSubscriber>

	<p>
		<small>We respect your privacy.</small>
	</p>
</div>

<style>
	.subscribe {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.subscribe :global(.email-subscriber) {
		margin: 3em 0;
	}
</style>

<script>
	import EmailSubscriber from './EmailSubscriber.html';

	export default {
		components: {
			EmailSubscriber
		}
	};
</script>
